<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav >
            <div class="nav-wrapper blue darken-4">
                <div class="container">
                 <a href="/" class="brand-logo">Django Blog</a>
                 <ul id="nav-mobile" class="right hide-on-med-and-down">
                     <li><a href="/">Home</a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/contact">Contact</a></li>
                      {% if request.user.is_authenticated %}
                    <li><a href="/logout">Logout</a></li>

                    {% else %}
                     <li><a href="/register">Signup</a></li>
                     <li><a href="/login">Login</a></li>
                    {% endif %}
                 </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

     <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; ISSAKHA</p>
     </footer>
    </body>
</html>